@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #000642;
  --mainColor: #f1f1f1;
  --lightMainTextColor: rgba(255, 255, 255, 0.8);
  --mainTextColor: #ffffff;
  --highlightColor: #66c9da;
  --startScreenButtonColor: #0d6efd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-size: 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColor);
}
